@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #0a0a0a;
  --color-foreground: #fafafa;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
